<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="content-language" content='en-us'>
  <base href="{global.baseUrl}">

  <title>{head.title} | {global.appName}</title>
  <meta name='description' content='{head.description}'>

  <link type='image/x-icon' rel='icon' href="favicon.ico">
  <script src='public/app.js'></script>
  <link rel="stylesheet" href="public/app.css">
</head>

<body class="{body.class}">
  <div class="wrapper">

    <!-- HEADER -->
    <header class='header'>
      <!--Logo  -->
      <a href="/" class="logo">
        <img src="public/logo.png" alt="logo"></a>

      <!-- nav -->
      <nav>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a class='logOut' href="/account/create">Sing Up</a></li>
          <li><a class='logOut' href="/session/create">Login</a></li>
          <li><a class='logIn' href="/checks/all">Dashboard</a></li>
          <li><a class='logIn' href="/account/edit">Account Settings</a></li>
          <li><a href="/#">Log Out</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">